<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <h1>Arrests Demographics in NYC, 2023</h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
    <div id="nav">
        {% include 'navbar.html' %}
    </div>

    <h5>Every year, thousands of people are arrested in NYC alone. This project seeks to map the arrests that occurred by NYPD in 2023, providing details about the perpetrator and the crime. Using this data, and with the help of infographics, an accurate representation of crime rates in each borrow can be conveyed and compared.</h5>

    <h4>Data cleansing</h4>
    <ol>
        <li>A data set was downloaded from NYC OpenData.</li>
        <li>Google sheets was used to remove columns of unneccessary data that the general public would not understand, like law codes.</li>
        <li>A useful dicionary-based data structure was designed in order to make all necessary data organized and accessible.</li>
        <li>A python program (<a href="https://github.com/reindeersled/Arrests-in-NYC-by-NYPD-in-2023/blob/main/data/format_data.py">format_data.py</a>) was created to read the .csv line-by-line to create and save the dictionary as a .json file.</li>
    </ol>

    <h4>Vocabulary</h4>
    <ul>
      <li>Felony: most serious type of criminal offense and carry possible sentences anywhere from a year to life in prison.</li>
      <li>Misdemeanor: more serious than violations but less severe than felonies, can carry up to a year in jail.</li>
      <li>Violation: petty offenses that are typically punishable by fines, but not jail time. </li>
    </ul>

    <h4>Macro</h4>
    <img src="macropage.jpeg" width="800" height="400"/>
    <ul>
      <li>Readability: the macro-summary shows map of all the boroughs in NYC and signifies each arrest with a dot, which is easy to understand and makes it easy for users to see the bigger picture.</li>
      <li>Simplicity: each arrest is just a dot until you click on it, which will then give more details.</li>
    </ul>

    <h4>Micro</h4>
    <img src="micropage.jpeg" width="800" height="600"/>
    <ul>
      <li>Readability: the details about the crime and the perpetrator are represented by pie graphs and bar charts, which is intuitive and easy to understand. The overall number of crime is shown in another bar chart with all the boroughs, allowing users to easily compare.</li>
      <li>Simplicity: No more than 5 different sections or bars for every chart.</li>
    </ul>

    <h4>Feedback & Takeaways:</h4>
    <ul>
      <li>Specify the timeline of the data - 2023</li>
      <li>Unclear message</li>
      <li>A way to compare one borough to the average crime rate - Using the bar graph of crime between all the boroughs, a line of average can be drawn</li>
      <li>Too many dots, add a way to sort the dots - Felonies, misdemeanors, and violations</li>
    </ul>

    <div id="footer">
      {% include 'footer.html' %}
    </div>

  </body>
</html>