<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Arrests</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          
          <li class="nav-item">
            <div class="dropdown">
              <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Boroughs
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="/micro/bronx">Bronx</a></li>
                <li><a class="dropdown-item" href="/micro/brooklyn">Brooklyn</a></li>
                <li><a class="dropdown-item" href="/micro/manhattan">Manhattan</a></li>
                <li><a class="dropdown-item" href="/micro/queens">Queens</a></li>
                <li><a class="dropdown-item" href="/micro/staten_island">Staten Island</a></li>
              </ul>
          </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>